section {

    .left-side {
        background-image: url('../../../assets/images/vector-dowenload.svg');
        background-size: 80%;
        background-position: left;
        background-repeat: no-repeat;
        padding: 50px;

        h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            font-weight: 900;
        }

        form {
            input {
                background-color: #CEDCFF;
            }

            button {
                width: 159px;
                height: 48px;
                border-radius: 8px;
            }
        }
    }
    .right-side {
        display: flex;
        justify-content: center;
        align-items: end;
        img {
            width: 50%;
            height: 80%;
        }
    }
}