<section class="mt-5">
    <owl-carousel-o [options]="customOptions" class="d-flex justify-content-center align-items-center">
        <ng-template carouselSlide ><img src="../../../assets/images/cars type/Frame (1).svg" class="w-50"alt=""></ng-template>
        <ng-template carouselSlide><img src="../../../assets/images/cars type/Frame 24.svg" class="w-50 pt-3"alt=""></ng-template>
        <ng-template carouselSlide class="bg-info"><img src="../../../assets/images/cars type/Global_x2F_Logos_x2F_Logo-White-115x116.svg" class="w-25"alt=""></ng-template>
        <ng-template carouselSlide><img src="../../../assets/images/cars type/Frame 26.svg" class="w-50 pt-3"alt=""></ng-template>
        <ng-template carouselSlide><img src="../../../assets/images/cars type/Frame 27.svg" class="w-50"alt=""></ng-template>
        <ng-template carouselSlide><img src="../../../assets/images/cars type/Frame 28.svg" class="w-50"alt=""></ng-template>
    </owl-carousel-o>
</section>